//Nav variables
$light-gray:rgb(182, 182, 182);
$nav-border:rgba(255, 255, 255, .2);
$dark-blue:rgb(58, 77, 96);
$white:#ffffff;
$pink:rgb(231, 82, 107);
$dark-pink: rgb(213, 76, 99);
//App variables
$purple:rgb(136, 36, 205);