@import "./common-mixin";
@import "./variables";
.about-wrapper {
    height: 498px;
}

.image {
    background: url("/assets/images/writing.jpg") no-repeat;
    background-size: cover;
}

.text-wrapper {
    margin: auto;
    h3,
    p,
    small {
        display: block;
        margin-left: 100px;
        margin-right: 100px;
        color: $dark-blue;
    }
    h3 {
        margin-bottom:0;
        font-weight: bold;
        font-size: 1rem;
    }
    p{
        margin-top:10px;
        margin-bottom: 30px;
    }
}