@import "./variables";
@import "./common-mixin";
html {
    overflow-x: hidden;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

.container-fluid {
    padding: 0;
    height: 886px;
    @include background-image("https://cdn.pixabay.com/photo/2016/08/31/06/58/fairyland-canyon-1632749_960_720.jpg");
    .content-wrapper {
        width: 40%;
        margin-left: 15%;
        margin-top: 16%;
        h1 {
            color: white;
            text-transform: none;
            line-height: 1.5;
            margin-bottom: 5%;
            text-align: right;
        }
        button {
            @include rounded-btn-style();
            float: right;
            clear: right;
            color: white;
            background-color: $purple;
            &:hover {
               text-decoration: underline;
            }
        }
        span {
            color: $light-gray;
            margin-top: 2%;
            float: right;
            clear: right;
            font-size: 0.83rem;
        }
    }
}

a:hover {
    opacity: 0.65;
}
